@model IEnumerable<DataDecipher.WebApp.Models.Method>

@{
    ViewData["Title"] = "Method Details Page";
    Layout = "_MainLayout";
}

<div class="container-fluid">
    <h5> List of all the accessible methods</h5>
    <p>The following table displays all the methods that are accessible to you. You can create, edit, delete and share the methods using this screen</p>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @*<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">*@
                        <table id="myTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastModifiedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td><input type="checkbox" name="" value=""></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastModifiedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Share", "Share", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    @*</div>
                </div>
            </div>
        </div>
    </div>*@

    </div>