@model DataDecipher.WebApp.Models.MainViewModel

<div class="row>">
    <div class="col-md-12">
        <h6>Displaying Raw Data</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the file: @Model.SelectedDataSource.Name</span>
        </div>
        <div class="card-body">
            <form asp-controller="Main" asp-action="LinkDataSourceToMethod" data-ajax-begin="onLinkDSBegin" data-ajax-complete="onLinkDSComplete"
                  data-ajax-failure="onLinkDSFailed" data-ajax-success="onLinkDSSuccess"
                  data-ajax="true" data-ajax-method="POST">
                <div class="container-fluid">
                    <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                    <input type="hidden" asp-for="@Model.SelectedDataSourceName" />
                    <input type="hidden" asp-for="@Model.RawData" id="rawDataFromTheSourceFile"/>
                    <input type="hidden" asp-for="@Model.ProcessedData" />
                    <div id="editor" >
                        <textarea class="form-control border border-black rounded" rows="15" cols="150" id="textboxRawDataToBeDIsplayed">@Model.RawData</textarea>
                    </div>
                    <br/>
                    <input class="btn btn-primary" type="submit" value="Process Raw Data" />
                    <div id="DisplayDSFooter">
                    </div>
                </div>
            </form>
        </div>
     </div>
</div>

<script>

    var displayDSFooter = $("#DisplayDSFooter");

    var onLinkDSBegin = function() {
            displayDSFooter.html("<span class=\"text-primary\">Saving datasource please wait...</span>");
    };

    var onLinkDSComplete = function(data, status) {
            displayDSFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Datasource saved successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
            $('#ApplyRules').html(data.responseText);
    };

    var onLinkDSSuccess = function(context) {

    };

    var onLinkDSFailed = function(context) {

    };

</script>