@model DataDecipher.WebApp.Models.MainViewModel
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="row>">
    <div class="col-md-12">
        <h6>Displaying Raw Data</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the file: @Model.SelectedDataSourceName</span>
        </div>
        <div class="card-body">
            <div class="row">
                <form asp-controller="Main" asp-action="LinkDataSourceToMethod" data-ajax-begin="onLinkDSBegin" data-ajax-complete="onLinkDSComplete"
                      data-ajax-failure="onLinkDSFailed" data-ajax-success="onLinkDSSuccess"
                      data-ajax="true" data-ajax-method="POST">
                    <div class="container-fluid">
                        <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                        <input type="hidden" asp-for="@Model.SelectedDataSourceName" />
                        <input type="hidden" asp-for="@Model.RawData" />
                        <input type="hidden" asp-for="@Model.ProcessedData" />
                        @*<div id="editor">
                            <p>

                            </p>
                            <br />
                        </div>*@
                        <div class="row">
                            <div class="form-group">
                                <textarea class="md-textarea form-control" rows="10">@Model.RawData</textarea>
                            </div>>
                        </div>
                        <br />
                        <div>
                            <input class="btn btn-primary" type="submit" value="Process Raw Data" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="row>">
                <div id="DisplayDSFooter">
                </div>
            </div>
        </div>
     </div>
</div>
<script>

@*var quill = new Quill('#editor', {
        theme: 'snow'
});*@

var displayDSFooter = $("#DisplayDSFooter");

var onLinkDSBegin = function() {
        displayDSFooter.html("<span class=\"text-primary\">Saving datasource please wait...</span>");
};

var onLinkDSComplete = function(data, status) {
        displayDSFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Datasource saved successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#ApplyRules').html(data.responseText);
};

var onLinkDSSuccess = function(context) {

};

var onLinkDSFailed = function(context) {

};</script>