@model DataDecipher.WebApp.Models.Plan

@{
    Layout = "_MainLayout"; ;
}
<div class="container-fluid">
    <h5>Plan Details</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrialPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrialPeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnabledDataConnectors)
        </dt>
        <dd>
            @{
            string connectors = String.Join(',',Model.EnabledDataConnectors.Select(e=> e.DataSourceConnector.Name).ToArray());
            }
            @Html.DisplayFor(modelItem => connectors)
        </dd>
        <dt>
            No of Organizations
        </dt>
        <dd>
            @{
            string count = Model.Organizations.Count().ToString();
            }
            @Html.DisplayFor(modelItem => count)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>


