@model IEnumerable<DataDecipher.WebApp.Models.Plan>
@{
    Layout = "_MainLayout"; ;
}
<div class="container-fluid">
    <h5> List of all the plans</h5>
    <p>The following table displays all the plans. You can create, edit, delete and view details about the plans using this screen</p>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="myTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrialPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnabledDataConnectors)
                </th>
                <th>
                    No of Organizations
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="" value=""></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrialPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @{
                            string connectors = String.Join(',',item.EnabledDataConnectors.Select(e=> e.DataSourceConnector.Name).ToArray());
                         }
                        @Html.DisplayFor(modelItem => connectors)
                    </td>
                    <td>
                        @{
                            string count = item.Organizations.Count().ToString();
                        }
                        @Html.DisplayFor(modelItem => count)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
