@model DataDecipher.WebApp.Models.Organization
@{
    Layout = null;
}
<!DOCTYPE html>
@{
    Layout = "_MainLayout"; ;
}
<div class="container-fluid">
     <h5>Organization Details</h5>
    <div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedPlan.Name)
        </dd>
        <dt>
            No of users
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>

