@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Try from sample datasources</span>
    </div>
    <div class="card-body">
        <form asp-controller="Main" asp-action="SelectSampleDataSource" data-ajax-begin="onSelectSampleDSBegin" data-ajax-complete="onSelectSampleDSComplete"
              data-ajax-failure="onSelectSampleDSFailed" data-ajax-success="onSelectSampleDSSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="container-fluid">
                <input type="hidden" asp-for="@Model.SelectedMethod.Id"/>
            
                <div class="form-group">
                    @for (int i = 0; i < Model.AvailableSampleDataSources.Count; i++)
                    {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedSampleDataSourceName, @Model.AvailableSampleDataSources[i].Uri)
                            <label for="@Model.AvailableSampleDataSources[i].Name">
                                @Model.AvailableSampleDataSources[i].Name
                            </label>
                        </div>
                    }
                </div>
                <div id="ListSampleDSFooter" class="col">
                    <input class="btn btn-primary" type="submit" value="Load" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>var loadSampleDSFooter = $("#ListSampleDSFooter");

var onSelectSampleDSBegin = function() {
        loadSampleDSFooter.html("<span class=\"text-primary\">Loading sample datasource please wait...</span>");
};


var onSelectSampleDSComplete = function(data, status) {
        loadSampleDSFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Sample datasource loaded successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#DisplayDataSource').html(data.responseText);
};

var onSelectSampleDSSuccess = function(context) {

};

var onSelectSampleDSFailed = function(context) {

};</script>
