@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Apply existing rules</span>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <form asp-controller="Main" asp-action="ApplyRules" data-ajax-begin="onRuleBegin" data-ajax-complete="onRuleComplete"
                  data-ajax-failure="onRuleFailed" data-ajax-success="onRuleSuccess"
                  data-ajax="true" data-ajax-method="POST">
                <div class="container-fluid">
                    <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                    <input type="hidden" asp-for="@Model.SelectedDataSourceName" />
                    <input type="hidden" asp-for="@Model.RawData" />
                    <div class="form-group">
                       @for (var i = 0; i < Model.AvailableDataProcessingRules.Count; i++)
                       { 
                            <div class="checkbox">
                                <input asp-for="@Model.AvailableDataProcessingRules[i].IsSelected" id="@Model.AvailableDataProcessingRules[i].Id" type="checkbox">
                                <label for="@Model.AvailableDataProcessingRules[i].Id">
                                    @Model.AvailableDataProcessingRules[i].Name
                                </label>
                                <input asp-for="@Model.AvailableDataProcessingRules[i].Id" type="hidden" />
                            </div>

                        }
                    </div>
                    <div id="ProcessingResults" class="col">
                        <input class="btn btn-primary" type="submit" value="Apply" />
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
<script>

var processingResults = $("#ProcessingResults");
    
var onRuleBegin = function() {
                    processingResults.html("<span class=\"text-primary\">Applying rule please wait...</span>");
};

var onRuleComplete = function(data, status) {
                    processingResults.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Rule(s) applied successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
                     $('#DisplayProcessedData').html(data.responseText);
};

var onRuleSuccess = function(context) {

};

var onRuleFailed = function(context) {

};
    
</script>

