@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">New Processing Rule</span>
    </div>
    <div class="card-body">
        <div class="container-fluid">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.SelectedDataProcessingRule.Name" class="badge badge-default-noborder"></label>
                            <input asp-for="@Model.SelectedDataProcessingRule.Name" placeholder="Your processing rule name" class="form-control" />
                            <span asp-validation-for="@Model.SelectedDataProcessingRule.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SelectedDataProcessingRule.Description" class="badge badge-default-noborder"></label>
                            <textarea asp-for="@Model.SelectedDataProcessingRule.Description" placeholder="Little bit more about your processing rule goes here" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SelectedDataProcessingRule.MatchCondition" class="badge badge-default-noborder"></label>
                            <input asp-for="@Model.SelectedDataProcessingRule.MatchCondition" placeholder="Specify your match condition here" class="form-control" />
                            <span asp-validation-for="@Model.SelectedDataProcessingRule.MatchCondition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SelectedDataProcessingRule.ReplaceWith" class="badge badge-default-noborder"></label>
                            <input asp-for="@Model.SelectedDataProcessingRule.ReplaceWith" placeholder="Mention the phrase that will replace match condition" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
      