@model IEnumerable<DataDecipher.WebApp.Models.DataProcessingRule>

@{
    ViewData["Title"] = "Index";
    Layout = "_MainLayout";
}

<div class="container-fluid">
    <h5> List of all the accessible processing rules</h5>
    <p>The following table displays all the pro rulescessing that are accessible to you. You can create, edit, delete and share the processing rules using this screen</p>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchCondition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReplaceWith)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MatchCondition)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReplaceWith)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
    </div>
