@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Create a new datasource</span>
    </div>
    <div class="card-body">
        <form id="frmDsUpload" asp-controller="Main" asp-action="CreateNewDataSource" method="Post" enctype="multipart/form-data">
            <div class="container-fluid">
                <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                <div class="form-group">
                    <label asp-for="@Model.SelectedDataSource.Name" class="badge badge-default-noborder"></label>
                    <input type="text" asp-for="@Model.SelectedDataSource.Name" placeholder="Your data source name" class="form-control" />
                    <span asp-validation-for="@Model.SelectedDataSource.Name" class="badge badge-danger-noborder"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SelectedDataSource.Description" class="badge badge-default-noborder"></label>
                    <textarea asp-for="@Model.SelectedDataSource.Description" placeholder="Little bit more about your data source goes here" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <input class="file btn-primary btn-simple" type="file" name="DataFile" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SelectedDataSource.TypeId" class="badge badge-default-noborder"></label>
                    @Html.DropDownListFor(s => s.SelectedDataSource.TypeId, new SelectList(ViewBag.AvailableDataConnectors, "Id", "Name"), "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create" />
                </div>
                <div id="CreateDSFooter">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var createdsfooter = $("#CreateDSFooter");
    var onNewDSComplete = function(data,status) {
        createdsfooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>New datasource created successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#DisplayDataSource').html(data.responseText);
    };

$("#frmDsUpload").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        createdsfooter.html("<span class=\"text-primary\">Creating datasource please wait...</span>");
        var myForm = document.getElementById('frmDsUpload');

        var formdata = new FormData(myForm);

            $.ajax({
                url: '@Url.Action("CreateNewDataSource", "Main")',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                complete : onNewDSComplete
            })
});
</script>