@model IEnumerable<DataDecipher.WebApp.Models.DataSourceConnector>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <h5> List of all the accessible data connectors</h5>
    <p>The following table displays all the data connectors that are accessible to you. You can create, edit, delete and share the data connectors using this screen</p>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="myTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Extension)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Extension)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Share" asp-route-id="@item.Id">Share</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
    </div>