@model MainViewModel

@using (Html.BeginForm())
{
    @*@foreach (var item in Model.DataSourceViewModel)
    {
        @Html.RadioButtonFor(b => b.SelectedDataSource, item.Id) @item.Name*@

        @*<div class="radio">
                <input type="radio" name="DataSourceList" id=@Html.DisplayFor(modelItem => item.Id) value=@Html.DisplayFor(modelItem => item.Id)>
                <label for=@Html.DisplayFor(modelItem => item.Id)>
                    <b>@Html.DisplayFor(modelItem => item.Name):</b> @Html.DisplayFor(modelItem => item.Description)
                </label>
            </div>*@
        
    <input type="hidden" asp-for="@Model.SelectedDataSourceName"/>
    <input asp-controller="Main" asp-action="DisplayRawData" class="btn btn-primary" type="submit" value="Show Raw Data" />
}